<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
	  <servlet-name>Woodchuck</servlet-name>
	  <servlet-class>com.ptzlabs.wc.servlet.WoodchuckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Woodchuck</servlet-name>
	  <url-pattern>/woodchuck</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>Login</servlet-name>
	  <servlet-class>com.ptzlabs.wc.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Login</servlet-name>
	  <url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>Reading</servlet-name>
	  <servlet-class>com.ptzlabs.wc.servlet.ReadingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Reading</servlet-name>
	  <url-pattern>/reading</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>Chunk</servlet-name>
	  <servlet-class>com.ptzlabs.wc.servlet.ChunkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Chunk</servlet-name>
	  <url-pattern>/chunk</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>SystemServiceServlet</servlet-name>
	  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	  <init-param>
	    <param-name>services</param-name>
	    <param-value/>
	  </init-param>
	</servlet>
	<servlet-mapping>
	  <servlet-name>SystemServiceServlet</servlet-name>
	  <url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>StartUpServlet</servlet-name>
	  <servlet-class>com.ptzlabs.wc.servlet.StartUpServlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
  		<servlet-name>TwilioServlet</servlet-name>
	    <servlet-class>com.ptzlabs.wc.servlet.TwilioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>TwilioServlet</servlet-name>
	    <url-pattern>/twilio</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 
 
 	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
 	</filter>
 	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>